<%= form_for(@suggestion) do |f| %>
  <% if @suggestion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@suggestion.errors.count, "error") %> prohibited this suggestion from being saved:</h2>

      <ul>
        <% @suggestion.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :appVersion %><br />
    <%= f.text_field :appVersion %>
  </div>
  <div class="field">
    <%= f.label :page %><br />
    <%= f.text_field :page %>
  </div>
  <div class="field">
    <%= f.label :block %><br />
    <%= f.text_field :block %>
  </div>
  <div class="field">
    <%= f.label :suggestion %><br />
    <%= f.text_area :suggestion, :rows => 5 %>
  </div>
  <div class="field">
    <%= f.label :labels %><br />
    <%= text_field_tag :clabels, @suggestion.labels %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

